<!DOCTYPE html>
<html>
<head>
  <title>DASHBOARD</title>
  <style>
    body{margin:0;background:#0f0f0f;color:#fff;font-family:Arial}
    .top{background:#1a1a1a;padding:10px;display:flex;gap:10px}
    .btn{background:#333;color:#fff;border:0;padding:8px;cursor:pointer}
    .box{padding:15px}
    .card{background:#181818;padding:10px;margin:10px 0}
  </style>
</head>
<body>

<div class="top">
  <button class="btn" onclick="location.href='index.html'">Privados</button>
  <button class="btn" onclick="location.href='grupo.html'">Grupos</button>
  <button class="btn" onclick="location.href='logs.html'">Logs</button>
</div>

<div class="box">

  <h2>📊 Dashboard</h2>

  <div class="card">💬 Chats activos: 12</div>
  <div class="card">👤 Usuarios: 5</div>
  <div class="card">📡 Estado: ONLINE</div>
  <div class="card">⚙ Sistema: OK</div>

</div>

</body>
</html>