<!DOCTYPE html>
<html>
<head>
  <title>USUARIOS</title>
  <style>
    body{background:#0f0f0f;color:#fff;font-family:Arial;margin:0}
    .top{background:#1a1a1a;padding:10px}
    .btn{background:#333;color:#fff;border:0;padding:8px}
    .user{background:#181818;margin:10px;padding:10px}
  </style>
</head>
<body>

<div class="top">
  <button class="btn" onclick="location.href='dashboard.html'">Panel</button>
</div>

<h2 style="padding:10px;">👤 Usuarios conectados</h2>

<div class="user">ID: 1 | Nombre: Usuario A</div>
<div class="user">ID: 2 | Nombre: Usuario B</div>
<div class="user">ID: 3 | Nombre: Usuario C</div>

</body>
</html>